<%- include('../partials/header') %>

<div class="container">
	
	<div class="row">
		<div class="col-md-3">
			<p class="lead">
				YelpCamp
			</p>
			<div class="list-group">
				<li class="list-group-item active">Category 1</li>
				<li class="list-group-item">Category 2</li>
			</div>
		</div>
		<div class="col-md-9">

			<div class="thumbnail">
				<img class="img-responsive" src="<%= campground.imageUrl %>">
				<div class="caption">
					<p class="pull-right">
						$10.00/night
					</p>
					<p>
						<%= campground.title %>	
					</p>
					<a class="btn btn-large btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a> 
					<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
						<button class="btn btn-large btn-danger">
							Delete
						</button>
					</form>
				</div>
			</div>

			
			<div class="well">
				
			
				<h4>
					Comments
				</h4>
					
				<% if(currentUser) { %>
				<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
					<div class="form-group">
						<input name="comment" placeholder="Leave a comment...">
					</div>
					<button type="submit" class="btn btn-large btn-primary">
						Submit
					</button>
				</form>	
				<% } else { %>
				
					<h5>
						You have to be logged in to leave a comment
					</h5>
				
				<% } %>
							


				<% 

					campground.comments.forEach((comment) => { %>
						<div class="row">
							<div class="col-md-12">

								<%= comment.author.username %>:

								<span class="pull-right">10 minutes ago</span>
							<p>
								<%= comment.text %>
							</p>
							</div>
						</div>



					<% })

				%>

					</div>

				</div>
	</div>
	
	
	
</div>


<%- include('../partials/footer') %>